.App {
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.big-container{
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.container{
  position: center;
  background-color: #f8d7c9;
  
  
  /* background-color: #6b969e; */
  width:500px;
  height: 700px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 6px 40px ;
}
.task-input{
  outline: none;
  width: 260px;
  padding:15px;
  color:black ;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px;
}
.add-btn{
  width: 90px;
  padding:15px 15px;
  color:black ;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;

}
.list-item{
  display: flex;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 20px;
  padding: 10px;
  height: 30px;
  /* margin: 20px 0; */
  
}

.todo-complete,
.todo-edit,
.todo-delete{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px;
  font-size: 20px;
}
.todo-complete{
  color:green;
  margin-right:10px;
}

.todo-edit{
  color:blue;
  margin-right:10px;
}
.todo-delete{
  color:red;
  margin-right:10px;
}


.complete{
  text-decoration-style:solid;
  text-decoration-line:line-through;
  text-decoration-color:seagreen;
  opacity: 0.6;
}


.list{

}